* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: 'Poppins', serif;
}

h2 {
  margin-bottom: 10px;
}

img {
  max-width: 80%;
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;
  margin: auto;
}

a {
  text-decoration: none;
}

a button {
  padding: 7px 39px;
  background-color: rgb(8, 102, 203);
  border: none;
  border-radius: 2.5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 800ms;
  margin: auto;
  display: block;
  color: aliceblue;
}

a button:hover {
  background-color: rgb(32, 131, 237);
  color: rgb(30, 31, 32);
  text-decoration: overline;
}

p {
  margin-top: 10px;
}

@media (max-width: 768px) {
  img {
    max-width: 100%;
  }
}
