* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: 'Poppins', serif;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

img {
  max-width: 33%;
  height: 330px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;
  margin: auto;
}

.raplamaa {
  display: flex;
  flex-wrap: wrap;
}

p {
  text-align: center;
  border-top: 3px solid rgb(15, 115, 229);
  border-bottom: 3px solid rgb(15, 115, 229);
  border-top-right-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  padding: 20px;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

a button {
  padding: 7px 39px;
  background-color: rgb(8, 102, 203);
  border: orange solid 2px;
  border-radius: 2.5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 800ms;
  color: aliceblue;
  display: block;
  margin: 20px auto;
}

a button:hover {
  background-color: rgb(91, 161, 240);
  color: rgb(30, 31, 32);
  text-decoration: overline;
}

p {
  margin-top: 10px;
}

@media (max-width: 768px) {
  img {
    max-width: 100%;
  }

  .image-2 {
    width: 595px;
  }

  .raplamaa {
    row-gap: 5px;
  }
}
